# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
instance/

# Jupyter
.ipynb_checkpoints/

# Exclude heavy datasets, images, and trained weights
*.h5
*.pb
*.tflite
*.pt
saved_model/
data/
datasets/
images/

# Logs
*.log

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/

# Operating system
.DS_Store
Thumbs.db